body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: #000;
    border: 2px solid #555;
    display: block;
}